Repository ray-project/kuberay, pull requests merged in 2022-11, with the labels that each got.

#753 [APIServer][Docs] Identify API server as community-managed and optional
  apiserver/README.md
  cli/README.md
  docs/development/development.md
Labels: documentation, apiserver

#734 [Bug][apiserver] fix apiserver create rayservice missing serve port
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/service.go
Labels: bug

#730 [RayService] Track whether Serve app is ready before switching clusters
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1alpha1/rayservice_types.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_test.go
Labels: enhancement, operator, observability
